
lab_inline: |
  LAB_NAME="bgp_iBGP_ipv6_lab"
  
  LAB_AUTHOR="Noah Van Horenbeke"
  as1_r1[ipv6]="true"
  as1_r1[0]="A"
  as1_r1[1]="G"
  as1_r1[2]="H"
  as1_r1[image]="kathara/frr"

  as4_r2[ipv6]="true"
  as4_r2[0]="B"
  as4_r2[1]="F"
  as4_r2[2]="K"
  as4_r2[image]="kathara/frr"

  as4_r3[ipv6]="true"
  as4_r3[0]="C"
  as4_r3[1]="K"
  as4_r3[image]="kathara/frr"

  as1_r4[ipv6]="true"
  as1_r4[0]="C"
  as1_r4[1]="G"
  as1_r4[2]="J"
  as1_r4[image]="kathara/frr"

  as1_r5[ipv6]="true"
  as1_r5[0]="B"
  as1_r5[1]="I"
  as1_r5[2]="J"
  as1_r5[image]="kathara/frr"

  as1_r6[ipv6]="true"
  as1_r6[0]="H"
  as1_r6[1]="I"
  as1_r6[image]="kathara/frr"

  as3_r8[ipv6]="true"
  as3_r8[0]="A"
  as3_r8[1]="D"
  as3_r8[image]="kathara/frr"

  as5_r9[ipv6]="true"
  as5_r9[0]="D"
  as5_r9[1]="E"
  as5_r9[image]="kathara/frr"

  as2_d1[ipv6]="true"
  as2_d1[0]="E"
  as2_d1[1]="F"
  as2_d1[image]="kathara/frr"

# You can lower it if you don't care about the reachability 
# In INGInious it's set to 50s to avoid false negatives due to slow convergence in the emulated environment
convergence_time: 50
default_image: kathara/frr

test:
  requiring_startup:
    - as1_r1
    - as4_r2
    - as4_r3
    - as1_r4
    - as1_r5
    - as1_r6
    - as3_r8
    - as5_r9
    - as2_d1
    
  reachability:



    as1_r6:
      - {{ expected.as1_r1.interfaces.lo.cidr.split("/")[0] }}
      - {{ expected.as1_r4.interfaces.lo.cidr.split("/")[0] }}
      - {{ expected.as1_r5.interfaces.lo.cidr.split("/")[0] }}

    as1_r4:
      - {{ expected.as1_r1.interfaces.lo.cidr.split("/")[0] }}
      - {{ expected.as1_r5.interfaces.lo.cidr.split("/")[0] }}
      - {{ expected.as1_r6.interfaces.lo.cidr.split("/")[0] }}
      - {{ expected.as4_r3.interfaces.lo.cidr.split("/")[0] }}


  ip_mapping:
    as1_r1:
      lo: {{ expected.as1_r1.interfaces.lo.cidr }}
      eth0: {{ expected.as1_r1.interfaces.eth0.cidr }}
      eth1: {{ expected.as1_r1.interfaces.eth1.cidr }}
      eth2: {{ expected.as1_r1.interfaces.eth2.cidr }}



    as1_r4:
      lo: {{ expected.as1_r4.interfaces.lo.cidr }}
      eth0: {{ expected.as1_r4.interfaces.eth0.cidr }}
      eth1: {{ expected.as1_r4.interfaces.eth1.cidr }}
      eth2: {{ expected.as1_r4.interfaces.eth2.cidr }}



    as2_d1:
      lo: {{ expected.as2_d1.interfaces.lo.cidr }}
      eth0: {{ expected.as2_d1.interfaces.eth0.cidr }}
      eth1: {{ expected.as2_d1.interfaces.eth1.cidr }}

  daemons:
    as1_r1: [zebra, bgpd, ospf6d]
    as4_r2: [zebra, bgpd, ospf6d]
    as4_r3: [zebra, bgpd, ospf6d]
    as1_r4: [zebra, bgpd, ospf6d]
    as1_r5: [zebra, bgpd, ospf6d]
    as1_r6: [zebra, bgpd, ospf6d]
    as3_r8: [zebra, bgpd]
    as5_r9: [zebra, bgpd]
    as2_d1: [zebra, bgpd]

  protocols:
    bgpd:
      networks:
        as1_r1:
          - {{ expected.as1_r1.interfaces.lo.cidr }}
        as4_r2:
          - {{ expected.as4_r2.interfaces.lo.cidr }}
        as4_r3:
          - {{ expected.as4_r3.interfaces.lo.cidr }}
        as2_d1:
          - {{ expected.as2_d1.interfaces.lo.cidr }}



  custom_commands:
  # show bgp ipv6 summary ==> Check the presence of neighbors + correct AS
  # show bgp ipv6 unicast json, nexthops ==> Check the presence of remote prefixes (+ correct next-hop to reach it)
    as1_r1:
      
      - command: 'vtysh -c "show bgp ipv6 summary"'
        regex_match: '{{ expected.as3_r8.interfaces.eth0.cidr.split("/")[0] }}\s+4\s+3\s+'
      - command: 'vtysh -c "show bgp ipv6 summary"'
        regex_match: '{{ expected.as1_r4.interfaces.lo.cidr.split("/")[0] }}\s+4\s+1\s+'
      - command: 'vtysh -c "show bgp ipv6 summary"'
        regex_match: '{{ expected.as1_r5.interfaces.lo.cidr.split("/")[0] }}\s+4\s+1\s+'

      # Présence de préfixes distants
      - command: 'vtysh -c "show bgp ipv6 unicast json"'
        regex_match: '"{{ expected.as5_r9.interfaces.lo.cidr }}".*"valid":true'
      - command: 'vtysh -c "show bgp ipv6 unicast json"'
        regex_match: '"{{ expected.as2_d1.interfaces.lo.cidr }}".*"valid":true'
      - command: 'vtysh -c "show bgp ipv6 unicast json"'
        regex_match: '"{{ expected.as4_r2.interfaces.lo.cidr }}".*"valid":true'

    as1_r6:

      - command: 'vtysh -c "show bgp ipv6 unicast json"'
        regex_match: '"{{ expected.as2_d1.interfaces.lo.cidr }}".*"nexthops":\[\{"ip":"{{ expected.as1_r5.interfaces.lo.cidr.split("/")[0] }}"'


    as4_r2:

      - command: 'vtysh -c "show bgp ipv6 summary"'
        regex_match: '{{ expected.as1_r5.interfaces.eth0.cidr.split("/")[0] }}\s+4\s+1\s+'
      - command: 'vtysh -c "show bgp ipv6 summary"'
        regex_match: '{{ expected.as2_d1.interfaces.eth1.cidr.split("/")[0] }}\s+4\s+2\s+'
      - command: 'vtysh -c "show bgp ipv6 summary"'
        regex_match: '{{ expected.as4_r3.interfaces.lo.cidr.split("/")[0] }}\s+4\s+4\s+'


      - command: 'vtysh -c "show bgp ipv6 unicast json"'
        regex_match: '"{{ expected.as3_r8.interfaces.lo.cidr }}".*"valid":true'
      - command: 'vtysh -c "show bgp ipv6 unicast json"'
        regex_match: '"{{ expected.as5_r9.interfaces.lo.cidr }}".*"valid":true'
      - command: 'vtysh -c "show bgp ipv6 unicast json"'
        regex_match: '"{{ expected.as1_r1.interfaces.lo.cidr }}".*"valid":true'

  

    as1_r4:

      - command: 'vtysh -c "show bgp ipv6 summary"'
        regex_match: '{{ expected.as4_r3.interfaces.eth0.cidr.split("/")[0] }}\s+4\s+4\s+'
      - command: 'vtysh -c "show bgp ipv6 summary"'
        regex_match: '{{ expected.as1_r1.interfaces.lo.cidr.split("/")[0] }}\s+4\s+1\s+'
      - command: 'vtysh -c "show bgp ipv6 summary"'
        regex_match: '{{ expected.as1_r5.interfaces.lo.cidr.split("/")[0] }}\s+4\s+1\s+'
      - command: 'vtysh -c "show bgp ipv6 summary"'
        regex_match: '{{ expected.as1_r6.interfaces.lo.cidr.split("/")[0] }}\s+4\s+1\s+'

      - command: 'vtysh -c "show bgp ipv6 unicast json"'
        regex_match: '"{{ expected.as4_r2.interfaces.lo.cidr }}".*"valid":true'
      - command: 'vtysh -c "show bgp ipv6 unicast json"'
        regex_match: '"{{ expected.as2_d1.interfaces.lo.cidr }}".*"valid":true'



    as2_d1:

      - command: 'vtysh -c "show bgp ipv6 summary"'
        regex_match: '{{ expected.as5_r9.interfaces.eth1.cidr.split("/")[0] }}\s+4\s+5\s+'
      - command: 'vtysh -c "show bgp ipv6 summary"'
        regex_match: '{{ expected.as4_r2.interfaces.eth1.cidr.split("/")[0] }}\s+4\s+4\s+'


      - command: 'vtysh -c "show bgp ipv6 unicast json"'
        regex_match: '"{{ expected.as3_r8.interfaces.lo.cidr }}".*"valid":true'
      - command: 'vtysh -c "show bgp ipv6 unicast json"'
        regex_match: '"{{ expected.as1_r1.interfaces.lo.cidr }}".*"valid":true'
      - command: 'vtysh -c "show bgp ipv6 unicast json"'
        regex_match: '"{{ expected.as1_r5.interfaces.lo.cidr }}".*"valid":true'