frr version 8.4
frr defaults traditional
hostname {{ node_name }}
service integrated-vtysh-config
!

{%- for ifname, iface in node.interfaces.items() %}
interface {{ ifname }}
{%- if node.ospf6 is defined and node.ospf6.interfaces is defined and ifname in node.ospf6.interfaces %}
 ipv6 ospf6 area {{ node.ospf6.interfaces[ifname].area }}
{%- if ifname == "lo" %}
 ipv6 ospf6 passive
{%- endif %}
{%- if node.ospf6.interfaces[ifname].cost is defined %}
 ipv6 ospf6 cost {{ node.ospf6.interfaces[ifname].cost }}
{%- endif %}
{%- if node.ospf6.interfaces[ifname].passive | default(false) %}
 ipv6 ospf6 passive
{%- endif %}
{%- endif %}
!
{%- endfor %}

{%- if node.ospf6 is defined and node.ospf6 %}
router ospf6
 router-id {{ node.ospf6.router_id }}
!
{%- endif %}

{%- if node.bgp is defined and node.bgp %}
router bgp {{ node.bgp.local_as }}
 bgp router-id {{ node.bgp.router_id }}
 no bgp ebgp-requires-policy
 no bgp default ipv4-unicast
{%- for neigh in node.bgp.ebgp_neighbors | default([]) %}
 neighbor {{ neigh.ip }} remote-as {{ neigh.remote_as }}
{%- endfor %}
{%- for neigh in node.bgp.ibgp_neighbors | default([]) %}
 neighbor {{ neigh.ip }} remote-as {{ neigh.remote_as }}
 {%- if neigh.update_source_lo | default(false) %}
 neighbor {{ neigh.ip }} update-source lo
 {%- endif %}
{%- endfor %}
 !
 address-family ipv6 unicast
{%- for net in node.bgp.networks | default([]) %}
  network {{ net }}
{%- endfor %}
{%- for neigh in node.bgp.ebgp_neighbors | default([]) %}
{%- if neigh.activate | default(true) %}
  neighbor {{ neigh.ip }} activate
{%- endif %}
{%- endfor %}
{%- for neigh in node.bgp.ibgp_neighbors | default([]) %}
{%- if neigh.activate | default(true) %}
  neighbor {{ neigh.ip }} activate
{%- endif %}
{%- if neigh.next_hop_self | default(false) %}
  neighbor {{ neigh.ip }} next-hop-self
{%- endif %}
{%- endfor %}
 exit-address-family
!
{%- endif %}

line vty
!